 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>welcome</h1>
        <button><a href="{% url 'login' %}">Log Out</a></button>
    </nav>

    <container class="">
        <button><a href="{% url 'addcontact' %}">Add Contact</a></button>
        
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Edit</th>
            </tr>
            {% for x in contact_list %}
            <tr>
                <td>{{x.name}}</td>
                <td>{{x.number}}</td>
                <td>
                    
                    <a href="{% url 'update_contact' x.id %}"><button>Update</button></a>
                    <a href="{% url 'delete_contact' x.id %}"><button>Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </container>

    
</body>
</html>