{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admindashboard.css' %}">
</head>
<body>
    <nav class="navigation-bar">
        <h1>Welcome to admin Dashboard</h1>
        <a href="{% url 'login' %}"><button>LogOut</button></a>
    </nav>
    <div class="appbar">
        <ul>
            <a href="{% url 'admindashboard' %}"><li><button>Dashboard</button></li></a>
            <a href="{% url 'contactlist' %}"><li><button>Contact Manager</button></li></a>
            <a href="{% url 'userslist' %}"><li><button>users</button></li></a>
            <a href="{% url 'profile' %}"><li><button>Profile</button></li></a>
        </ul>
    </div>
    <div class="content">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Edit</th>
            </tr>
            {% for x in userslist %}
                <tr>
                    <td>{{x.username}}</td>
                    <td>{{x.phone}}</td>
                    <td><button>Update</button><button>Delete</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>